[submodule "five-android"]
	path = five-android
	url = https://github.com/blokadaorg/five-android.git
[submodule "six-android"]
	path = six-android
	url = https://github.com/blokadaorg/six-android.git
[submodule "six-ios"]
	path = six-ios
	url = https://github.com/blokadaorg/six-ios.git
[submodule "landing"]
	path = landing
	url = git@github.com:blokadaorg/landing.git
[submodule "landing-github-pages"]
	path = landing-github-pages
	url = git@github.com:blokadaorg/landing-github-pages.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:blokadaorg/dashboard.git
