[submodule "translate"]
	path = translate
	url = https://github.com/blokadaorg/translate.git
[submodule "six-common"]
	path = six-common
	url = https://github.com/blokadaorg/six-common.git
[submodule "wireguard-android"]
	path = wireguard-android
	url = https://github.com/blokadaorg/wireguard-android
