<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.blokada"
    android:sharedUserId="org.blokada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="core.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/branding_app_name"
        android:networkSecurityConfig="@xml/whitelist_blokada"
        android:supportsRtl="true"
        android:theme="@style/BlokadaColors.Main.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <meta-data
            android:name="android.notch_support"
            android:value="true" />

        <receiver
            android:name="core.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


        <service
            android:name="core.BootJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>

        <activity
            android:name="core.PanelActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:label="@string/branding_app_name"
            android:launchMode="singleTask"
            android:theme="@style/BlokadaColors.Main.NoActionBar">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="core.StepActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Blokada Steps"
            android:launchMode="singleTop"
            android:theme="@style/TransparentWindow"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name="core.SubscriptionActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Blokada Subscription"
            android:launchMode="singleTop"
            android:theme="@style/TransparentWindow"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name="core.WebViewActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Blokada"
            android:launchMode="singleTop"
            android:theme="@style/TransparentWindow"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name="core.RestoreAccountActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Blokada Restore Account"
            android:launchMode="singleTop"
            android:theme="@style/TransparentWindow"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible">
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
        </activity>
        <activity
            android:name="core.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/TransparentWindow"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name="core.PowersaveActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/TransparentWindow" />

        <service android:name="notification.ANotificationsOffService"></service>
        <service android:name="notification.ANotificationsWhitelistService"></service>
        <service android:name="notification.ANotificationsToggleService"></service>
        <service
            android:name="core.QuickSettingsService"
            android:icon="@drawable/ic_blokada"
            android:label="@string/main_quicksettings_toggle"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name="tunnel.Service"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service android:name="core.KeepAliveService"></service>

        <receiver android:name="gs.property.LocaleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="gs.property.ConnectivityReceiver">
            <intent-filter>
                <action android:name="org.blokada.keepAlive" />
            </intent-filter>
        </receiver>
        <receiver android:name="gs.property.ScreenOnReceiver"></receiver>
        <receiver android:name="tunnel.RenewLicenseReceiver"></receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_update" />
        </provider>

        <activity android:name="adblocker.ConfigWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service android:name="adblocker.UpdateWidgetService" />

        <receiver
            android:name="adblocker.ActiveWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/active_widget_info" />
        </receiver>
        <receiver
            android:name="adblocker.ListWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/list_widget_info" />
        </receiver>

        <service android:name="adblocker.RequestLogger" />

        <service android:name="adblocker.ForegroundStartService" />

        <activity android:name="core.AddDnsActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Add DNS"
            android:launchMode="singleTop"
            android:theme="@style/TransparentWindow"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"/>
    </application>

</manifest>
