<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This file is part of Blokada.
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  ~
  ~ Copyright © 2021 Blocka AB. All rights reserved.
  ~
  ~ @author Karol Gusak (karol@blocka.net)
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:sharedUserId="org.blokada.family"
    android:sharedUserMaxSdkVersion="32">

    <meta-data android:name="isMonitoringTool" android:value="child_monitoring" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove"/>

    <application>
        <activity
            android:name="ui.CommandActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.Blokada.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cmd"
                    android:scheme="blocka" />
                <data
                    android:host="cmd.blocka.net"
                    android:scheme="http" />
            </intent-filter>

            <!-- Handle Family link -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="go.blokada.org"
                    android:pathPrefix="/family/link_device"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
