// Developer.xcconfig

// You Apple developer account's Team ID
DEVELOPMENT_TEAM = <team_id>

// The bundle identifier of the apps.
// Should be an app id created at developer.apple.com
// with Network Extensions capabilty.
APP_ID_IOS = <app_id>
APP_ID_MACOS = <app_id>
