[submodule "wireguard-apple"]
	path = wireguard-apple
	url = https://github.com/blokadaorg/wireguard-apple.git
[submodule "six-common"]
	path = six-common
	url = https://github.com/blokadaorg/six-common.git
[submodule "translate"]
	path = translate
	url = https://github.com/blokadaorg/translate.git
