name: common
description: A new Flutter module project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
#
# This version is used _only_ for the Runner app, which is used if you just do
# a `flutter run` or a `flutter make-host-app-editable`. It has no impact
# on any other native host app that you embed your Flutter project into.
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.6
  flex_color_scheme: ^8.2.0
  syncfusion_flutter_charts: ^28.1.36
  mobx: ^2.1.0
  flutter_mobx: ^2.0.6+4
  countup: ^0.1.4
  snapping_sheet: ^3.1.0
  i18n_extension: ^12.0.1
  relative_scale: ^2.0.0
  get_it: ^7.7.0
  collection: ^1.17.0
  http: ^1.0.0
  dartx: ^1.1.0
  mocktail: ^1.0.1
  slide_to_act_reborn: ^3.0.0
  unique_names_generator: ^1.0.0
  flutter_slidable: ^4.0.0
  string_validator: ^1.0.2
  crypto: ^3.0.3
  modal_bottom_sheet: ^3.0.0-pre
  qr_flutter: ^4.1.0
  animations: ^2.0.11
  provider: ^6.1.2
  timeago: ^3.6.1
  mockito: ^5.3.2
  i18n_extension_importer: ^0.0.6
  flutter_chat_core: ^2.5.0
  flutter_chat_ui: ^2.5.0
  flyer_chat_text_message: ^2.0.0
  logger: ^2.4.0
  adapty_flutter: 3.8.1
  input_code_field: ^2.0.2
  flutter_linkify: ^6.0.0

dependency_overrides:
  intl: 0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.2.1
  flutter_lints: ^2.0.0
  dependency_validator: ^3.0.0
  mobx_codegen: ^2.0.7+3
  pigeon: ^12.0.0
  mockito: ^5.3.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add Flutter specific assets to your application, add an assets section,
  # like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  assets:
    - assets/images/
    - assets/translations/ui/
    - assets/translations/packs/
    - assets/translations/packtags/
    - assets/videos/
    - assets/fallbacks/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add Flutter specific custom fonts to your application, add a fonts
  # section here, in this "flutter" section. Each entry in this list should
  # have a "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages


  # This section identifies your Flutter project as a module meant for
  # embedding in a native host app.  These identifiers should _not_ ordinarily
  # be changed after generation - they are used to ensure that the tooling can
  # maintain consistency when adding or modifying assets and plugins.
  # They also do not have any bearing on your native host application's
  # identifiers, which may be completely independent or the same as these.
  module:
    androidX: true
    androidPackage: org.blokada.flutter.common
    iosBundleIdentifier: org.blokada.flutter.common
