<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzTLLKxKq2YW98uvjENqilEMKB8Ell7Jc</string>
	<key>GCM_SENDER_ID</key>
	<string>491763298787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.blocka.app</string>
	<key>PROJECT_ID</key>
	<string>blokada-vpn</string>
	<key>STORAGE_BUCKET</key>
	<string>blokada-vpn.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491763298787:ios:5454c35c28dd282eae70d6</string>
	<key>DATABASE_URL</key>
	<string>https://blokada-vpn.firebaseio.com</string>
</dict>
</plist>