name: Blokada 6 for iOS (CI)

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest


    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.7
          bundler-cache: true

      - name: Install bundler
        run: gem install bundler:2.4.22

      - name: Install fastlane
        run: bundler install

      - name: Import Code-Signing Certificates
        uses: Apple-Actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.IOS_DIST_SIGNING_KEY }}
          p12-password: ${{ secrets.IOS_DIST_SIGNING_KEY_PASSWORD }}
          keychain-password: signingtmp

      - name: Check cert
        run: security find-identity -v -p codesigning ~/Library/Keychains/signing_temp.keychain-db

      - name: Make default keychain
        run: security default-keychain -s ~/Library/Keychains/signing_temp.keychain-db

      - name: Build iOS binary
        run: bundle exec fastlane build_blokada
        env:
          ASC_KEY_ID: ${{ secrets.ASC_KEY_ID }}
          ASC_ISSUER_ID: ${{ secrets.ASC_ISSUER_ID }}
          ASC_KEY: ${{ secrets.ASC_PRIVATE_KEY }}
          KEYCHAIN_PATH: ~/Library/Keychains/signing_temp.keychain-db
